body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    background-color: red;
    min-height: 50em;
    max-width: 960px;
    flex-wrap: wrap;
    padding: 1em;
}

.pixel {
    background-color: white;
    min-width: 60px;
    max-height: 60px;
}

div .pixel:hover {
    background-color: black;
}

 nav {
    padding-bottom: 10px;
 }
.button {
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
}